<script type="text/ng-template" id="forgot.html">
    <div class="view">
    <ng-include src="medicalnavbar"></ng-include>
        <div class="row">
            <div class="col s12 center">
                <img src="images/healthpick_logo_1024.png" id="healthpicklogo">
            </div>
        </div>
        
        <div class="row">
            <form class="col s12">
                <div>
                    <p style="color: #681950;" class="col s12 center">FILL IN TO RETRIEVE LOG IN DETAILS</p>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate">
                        <label for="name">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="icon_telephone" type="password" class="validate">
                        <label for="icon_telephone">Username or policy number(if known)</label>
                    </div>
                </div>
        
        
                <div class="row">
                    <div class="input-field col s12 center">
                        <a onclick="Materialize.toast('Email has been sent to you', 2000)" href="#/login" class="colorofbutton waves-effect waves-light btn btn-large" id="btn">
                            <img src="images/svgs/change-password.svg" style="width: 7%;">
                            Recover password
                        </a>
                    </div>
        
                </div>
            </form>
        </div>
    </div>
</script>