<script type="text/ng-template" id="help.html">
	
	<div ng-class="navbarClass"><ng-include src="navbar"></ng-include></div>
	

	<div class="view" ng-show="loadingDone">
		<div class="row">
		    <h4 class="center-align white-text lighten-2 fonts" style="margin-top: 1rem; padding: 0 10px;">
		        Help
		    </h4>
		</div>
		<div class="row">
		    <div class="col s12 m12">
		        <div class="card">
		            <div class="card-content">
		                <div class="row">
		                    <div class="input-field col s12">
		                        <textarea id="help" class="materialize-textarea" ng-model="data.help"></textarea>
		                        <label for="help">Ask a question</label>
		                    </div>
		                </div>
		                <div class="side-alignment right-align">
		                	<a ng-click="submit()" class="waves-effect waves-green btn btn-large orange">
		                		<div class="loader-container" ng-show="ASyncStarted">
		                			<div class="loader-inner ball-clip-rotate-multiple"></div>
		                		</div>
		                		<div ng-hide="ASyncStarted">Ask</div>
		                	</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</script>