<script type="text/ng-template" id="medical-services.html">
	<ng-include src="navbar"></ng-include>
	<div class="row">
		<h3  class="center-align white-text lighten-2 fonts">  Medical Services  </h3>
	</div>
	
	<div class="row" >
		<div class="col s6 center-align">
			<div class="row">
				<a class="btn-floating btn-large waves-effect waves-light colors">
					<img src="images/Medical-Services.png" class="settingpageicons" alt="" style="margin-left: 5%;" />
				</a>
			</div>
			<div class="row">
				<p class="white-text center-align">Find Doctor</p>
			</div>
		</div>
	
		<div class="col s6 center-align">
			<div class="row">
				<a class="btn-floating btn-large waves-effect waves-light colors">
					<img src="images/My-Claims.png" class="settingpageicons" style="margin-left: 5%;">
				</a>
			</div>
			<div class="row">
				<p class="white-text center-align">My Claims</p>
			</div>
		</div>
	</div>
	
	<div class="row" >
		<div class="col s6 center-align">
			<div class="row">
				<a class="btn-floating btn-large waves-effect waves-light colors">
					<img src="images/Get-Dental-Medical-Optical-Advice.png" class="settingpageicons">
				</a>
			</div>
			<div class="row">
				<p class="white-text center-align">Get Medical Advice</p>
			</div>
		</div>
	
		<div class="col s6 center-align">
			<div class="row">
				<a class="btn-floating btn-large waves-effect waves-light colors">
					<img src="images/Help-and-Support.png" class="settingpageicons">
				</a>
			</div>
			<div class="row">
				<p class="white-text center-align">Help & Support</p>
			</div>
		</div>
	</div>
	
	<div class="row" >
		<div class="col s6 center-align">
			<div class="row">
			<a class="btn-floating btn-large waves-effect waves-light colors">
				<img src="images/My-Wellbeing.png" class="settingpageicons">
			</a>
			</div>
			<div class="row">
				<p class="white-text center-align">My Wellbeing</p>
			</div>
		</div>
	
		<div class="col s6 center-align">
			<div class="row">
				<a class="btn-floating btn-large waves-effect waves-light colors">
					<img src="images/My-Policy.png" class="settingpageicons">
				</a>
			</div>
			<div class="row">
				<p class="white-text center-align">My Policy</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 center-align">
			<div class="row">
				<a class="btn btn-floating btn-large waves-effect waves-light colors">
					<img src="images/Your-Feedback.png" alt="" class="settingpageicons" />
				</a>
			</div>
			<div class="row">
				<p class="white-text center-align">Feedback</p>
			</div>
		</div>
	</div>
</script>