<script type="text/ng-template" id="services.html">
    <div class="view">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col s6 left-align">
                <div class="row">
                    <a href="#/settings" class="btn-floating btn-large waves-effect waves-light colors">
                        <img src="images/svgs/user-settings.svg" class="settingpageicons circle" alt="">
                    </a>
                </div>
            </div>
            <div class="col s6 right-align">
                <a href="#/notifications" class="btn-floating btn-large waves-effect waves-light colors">
                    <img class="settingpageicons" src="images/svgs/notifications.svg">
                </a>
            </div>
        </div>
        <div class="row ipad-settings">
            <div class="col s12 center">
                <img src="images/healthpick_logo_1024.png" id="healthpicklogo" style="margin-top: 0;">
            </div>
        </div>
        <div class="row">
            <h6  class="center-align white-text lighten-2" style="line-height: 2.104rem;">  How can we help ?  </h6>
        </div>
        <div class="row ipad-settings" >
            <div class="col s4 center-align">
                <div class="row">
                    <a href="#/dental-services"class="btn-floating btn-large waves-effect waves-light colors btn-services">
                        <img class="settingpageicons" src="images/svgs/dental-services.svg">
                    </a>
                </div>
                <div class="row">
                    <p class="white-text center-align">Dental Services</p>
                </div>
            </div>
            <div class="col s4 center-align">
                <div class="row">
                    <a href="#/medical-services" class="btn-floating btn-large waves-effect waves-light colors btn-services">
                        <img class="settingpageicons" src="images/svgs/medical-services.svg">
                    </a>
                </div>
                <div class="row">
                    <p class="white-text center-align">Medical Services</p>
                </div>
            </div>
            <div class="col s4 center-align">
                <div class="row">
                    <a href="#/optical-services"class="btn-floating btn-large waves-effect waves-light colors btn-services">
                        <img class="settingpageicons" src="images/Optical-Services.png">
                    </a>
                </div>
                <div class="row">
                    <p class="white-text center-align">Optical Services</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.button-collapse').sideNav({
                closeOnClick: true
            });
            $('#qrmodal').leanModal();
            $('#sidenav-overlay').css('opacity', '0');
            $('.button-collapse').sideNav('hide');
            $('a').blur();
        });
    </script>
</script>