<script type="text/ng-template" id="well-being.html">
    <div class="view">
        <ng-include src="navbar"></ng-include>
        <div class="container" ng-controller="wellbeingCtrl">
            <div class="row">
                <h4 class="center-align white-text lighten-2 fonts" style="margin-top: 1rem; padding: 0 10px;">
                    My Wellbeing
                </h4>
            </div>
            <div class="row" ng-repeat="article in articles">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">{{article.title}}</span>
                            <p>
                                {{article.Description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>