<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dentalink.client" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Healthpick Client</name>
    <description>
        The client application for dentalink.
    </description>
    <author email="hello@sweetpixelstudios.com" href="http://sweetpixelstudios.com">
        SPS Team
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />

    <plugin name="cordova-plugin-whitelist" version="1" />

    <allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
    <access origin="*" />
    <access origin="http://healthpickapi.azurewebsites.net/api/practice" />
    <access origin="https://dentalink.co.uk/healthpickapi/api" />
    <access origin="http://gplink.co.uk" />
    <access origin="http://animation-republic.com/CorporaCompleteCarePlan.pdf"/>
    <allow-navigation href="http://*/*" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
