<script type="text/ng-template" id="rating.html">
	<ng-include src="navbar"></ng-include>
	<ul class="collection">
		<table>
			<thead>
				<th>
					<tr>
						<td>
							<li class="collection-item avatar">
								<i class="mdi-social-person circle orange"></i>
	
							</li>
						</td>
	
						<td>
							<h5>awaf al moteb</h5>
							<!-- <p class="grey-text left-align">alice@example.com </p> -->
						</td>
	
	
	
						<td>
							<h2 class="center orange-text"><i class="mdi-action-star-rate"></i></h2>
							<h4 class="center black-text " >5.0</h4>
						</td>
					</tr>
				</th>
			</thead>
			<tbody>
				<tr>
					<td colspan = "3">
						<p class="grey-text left-align"> 
							He explained to me every thing about my teeth and he showed me what is the plan of therapy and he did very well.
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	
	</ul>
	
	
	<ul class="collection">
		<table>
			<thead>
				<th>
					<tr>
						<td>
							<li class="collection-item avatar">
								<i class="mdi-social-person circle orange"></i>
	
							</li>
						</td>
	
						<td>
							<h5>FAHAD AL MUTAIRI
							</h5>
							<!-- <p class="grey-text left-align">John@example.com </p> -->
						</td>
	
	
	
						<td>
							<h2 class="center orange-text"><i class="mdi-action-star-rate"></i></h2>
							<h4 class="center black-text " >5.0</h4>
						</td>
					</tr>
				</th>
			</thead>
			<tbody>
				<tr>
					<td colspan = "3">
						<p  class="grey-text left-align"> </p>
					</td>
				</tr>
			</tbody>
		</table>
	
	</ul>
</script>