<script type="text/ng-template" id="staff.html">
	<ng-include src="dentalnavbar"></ng-include>
	<ul class="collection">
	
		<li class="collection-item avatar">
			<img src="images/staff/stanley kay.jpg" alt="" class="circle">
			<span class="title"><h5>Dr Stanley Kay</h5></span>
			<p class="grey-text">GDC Number: 36744
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/SarahNeale-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr Sarah Neale</h5></span>
			<p class="grey-text">GDC Number: 65581
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/PedjaPavlovic-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr. Pedja Pavlovic</h5></span>
			<p class="grey-text">GDC Number: 72547
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/NectariaPolycarpou-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr. Nectaria Polycarpou</h5></span>
			<p class="grey-text">GDC Number: 71067
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/MaryShenouda-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr. Mary Shenouda</h5></span>
			<p class="grey-text">GDC Number: 133585
			</p>
		</li>
	
	
		<li class="collection-item avatar">
			<img src="images/staff/CharlotteStilwell-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr. Charlotte Stilwell</h5></span>
			<p class="grey-text">GDC Number: 59233
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/JeanClaude-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr. Jean Claude Violides</h5></span>
			<p class="grey-text">GDC Number: 133585
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/RamanBedi-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Prof. Raman Bedi</h5></span>
			<p class="grey-text">GDC Number: 50292
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/StephenDover-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Mr. Stephen Dover</h5></span>
			<p class="grey-text">GDC Number: 54751
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/EmmaLaing-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr. Emma Laing</h5></span>
			<p class="grey-text">GDC Number: 80557
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/JasSharma-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Dr. Jas Sharma</h5></span>
			<p class="grey-text">GDC Number: 71374 
			</p>
		</li>
	
		<li class="collection-item avatar">
			<img src="images/staff/PascalLarousse-profile.jpg" alt="" class="circle">
			<span class="title"><h5>Mr. Pascal Larousse DchD</h5></span>
			<p class="grey-text">GDC Number: 102262
			</p>
		</li>
		
	</ul>
</script>