<script type="text/ng-template" id="timing.html">
	<ng-include src="dentalnavbar"></ng-include>
	<div class="container">
		<table class="bordered">
			<thead>
				<tr>
					<th data-field="id">Day</th>
					<th data-field="name">Opening</th>
					<th data-field="price">Closing</th>
				</tr>
			</thead>
		
			<tbody>
				<tr>
					<td>Mon</td>
					<td>08:30 AM</td>
					<td>06:30 PM</td>
				</tr>
				<tr>
					<td>Tue</td>
					<td>08:30 AM</td>
					<td>06:30 PM</td>
				</tr>
				<tr>
					<td>Wed</td>
					<td>08:30 AM</td>
					<td>06:30 PM</td>
				</tr>
				<tr>
					<td>Thu</td>
					<td>08:30 AM</td>
					<td>06:30 PM</td>
				</tr>
				<tr>
					<td>Fri</td>
					<td>08:30 AM</td>
					<td>06:30 PM</td>
				</tr>
				<tr>
					<td>Sat</td>
					<td>08:30 AM</td>
					<td>06:30 PM</td>
				</tr>
				<tr>
					<td>Sun</td>
					<td>Closed</td>
					<td>Closed</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>