<script type="text/ng-template" id="treatment.html">
	<ng-include src="navbar"></ng-include>
	<ul class="collection">
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Intra-oral – Bite-wing per unit</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£10</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Intra-oral – Periapical per unit</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£10</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Topical Application of Fluoride </p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£200</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Sealant – per tooth</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£100</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>One Hour Hygiene</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£170</span></p>
				</div>
			</div>
		</li>
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Amalgam – Small, primary or permanent</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£250</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Amalgam – Medium, primary or permanent</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£250</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Amalgam – Large, primary or permanent</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£250</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Composite – Small</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£250</span></p>
				</div>
			</div>
	
		</li>
	
		<li class="collection-item ">
	
	
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Composite – Medium</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£250</span></p>
				</div>
			</div>
	
		</li>
	
		<li class="collection-item ">
	
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Composite – Large</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£250</span></p>
				</div>
			</div>
	
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Inlay- Gold</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£1100</span></p>
				</div>
			</div>
	
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Inlay- Ceramic</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£1100</span></p>
				</div>
			</div>
		</li>
	
		<li class="collection-item ">
			<div class="row ">
				<div class="col s8 ">
					<span class="title"><p>Routine Hygiene</p></span>
				</div>
				<div class="col s0 ">
	
					<img src="images/bar.jpg" alt="" class="circle">
				</div>
	
				<div class="col s3 ">
					
					<p><span class="center" style="color: #2980B9">£215</span></p>
				</div>
			</div>
		</li>
	</ul>
</script>