<script type="text/ng-template" id="change-password.html">
	<div ng-class="navbarClass"><ng-include src="navbar"></ng-include></div>
	<div class="view container" ng-init="loadingDone = true">


		<div class="row">
			<form class="col s12" name="changeForm" novalidate>
				<div style="margin-top: 5%;" class="switch">
					<h5 class="center">Change Password</h5>
					<div class="row">
						<div class="input-field col s12">
							<input id="old-password" type="password" ng-model="data.oldpassword" class="validate" required>
							<label for="old-password">Old Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="new-password" type="password" class="validate" ng-model="data.newpassword" required>
							<label for="new-password">New Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="confirm-password" type="password" class="validate" ng-model="confirm" required>
							<label for="confirm-password">Retype Password</label>
						</div>
					</div>
				</div>

				<div class="col s12 right-align">
					<button class="waves-effect waves-green btn btn-large orange" ng-click="submit()" ng-disabled="changeForm.$invalid">
						<div class="loader-container" ng-show="ASyncStarted">
							<div class="loader-inner ball-clip-rotate-multiple"></div>
						</div>
						<div ng-hide="ASyncStarted">Save</div>
					</button>
				</div>
			</form>
		</div>


	</div>
</script>
