<script type="text/ng-template" id="notifications.html">
	<div class="view">

		<ng-include src="notificationnavbar"></ng-include>
		
		<div class="row" >
		    <ul class="collection" style="border: 1px solid #ddd">
		        <li class="list-item">Your treatment with P S B Dental Care Ltd has been approved by the insurer! <!-- <a href="#" class="secondary-content">@10:00</a> --></li>
		        <li class="list-item">You have an appointment with Dr Flan on <span style="font-weight: bold;">03-08-2015</span> at <span style="font-weight: bold;">10:30am</span> at P S B Dental Care Ltd.  <!-- <a href="#" class="secondary-content">@10:00</a> --></li>
		        <li class="list-item">Your feedback for your recent appointment at P S B Dental Care Ltd is pending.<!--   <a href="#" class="secondary-content">@10:00</a> --></li><!-- 
		        <li class="collection-item">Lorem ipsum dolor sit amet.  <a href="#" class="secondary-content">@10:00</a></li> -->
		    </ul>
		</div>
	</div>
</script>