<script type="text/ng-template" id="notifications.html">
	<div ng-class="navbarClass"><ng-include src="navbar"></ng-include></div>
	<div class="view" ng-show="loadingDone">
		<div class="row">
		    <ul class="collection" style="border: 1px solid #ddd">
		        <li class="list-item" ng-class="{'notification-unseen': item.viewed == true}" ng-repeat="item in notifications">{{item.Description}}
		        	<!-- <a href="#" class="secondary-content">@10:00</a> -->
		        </li>
		    </ul>
		</div>
	</div>
</script>