<script type="text/ng-template" id="settings.html">
	<ng-include src="settingsnavbar"></ng-include>
	<div class="view" ng-init="loadingDone = true">
	
		<div id="m" class="modal">
			<div class="modal-content">
				<h4 class="orange-text">Done!</h4>
				<p>Settings Saved</p>
			</div>
			<div class="modal-footer">
				<a href="list.html" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
			</div>
		</div>


		<div class="row">
			<div class="row">
				<div class="col s6 center-align top-margin">
					<div class="row">
						<a href="#/settings/personal-details" class="btn-floating btn-large waves-effect waves-light colors">
							<img src="images/Personal-Details.png" class="settingpageicons">
						</a>
					</div>
					<div class="row">
						<p class="white-text center-align">Personal Details</p>
					</div>
				</div>
		
				<div class="col s6 center-align top-margin">
					<div class="row">
						<a href="#/settings/family-details" class="btn-floating btn-large waves-effect waves-light colors">
							<img src="images/Family-Details.png" class="settingpageicons">
						</a>
					</div>
					<div class="row">
						<p class="white-text center-align">Family Details</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6 center-align top-margin">
					<div class="row">
						<a data-target="qrmodal" href="#qrmodal" class="btn-floating btn-large waves-effect waves-light colors modal-trigger">
							<img src="images/My-QR-Code.png" class="settingpageicons" >
						</a>
					</div>
					<div class="row">
						<p class="white-text center-align">My QR Code</p>
						<div id="qrmodal" class="modal">
							<div class="modal-content center">
								<img src="images/harley-qr.png" style="width: 100%;"/>
							</div>
							<div class="modal-footer">
								<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
							</div>
						</div>
					</div>
				</div>
		
				<div class="col s6 center-align top-margin">
					<div class="row">
						<a href="#/change-password" class="btn-floating btn-large waves-effect waves-light colors">
							<img src="images/Change-Password.png" class="settingpageicons">
						</a>
					</div>
					<div class="row">
						<p class="white-text center-align">Change Password</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6 center-align top-margin">
					<div class="row">
						<a href="#/terms-conditions" class="btn-floating btn-large waves-effect waves-light colors">
							<img src="images/Terms-and-Conditions.png" class="settingpageicons">
						</a>
					</div>
					<div class="row">
						<p class="white-text center-align">Terms & Conditions</p>
					</div>
				</div>
				<div class="col s6 center-align top-margin">
					<div class="row">
						<a data-target="qrmodal" href="#notiqrmodal" class="btn-floating btn-large waves-effect waves-light colors modal-trigger">
							<img src="images/Notification.png" class="settingpageicons" >
						</a>
					</div>
					<div class="row">
						<p class="white-text center-align">Notifications</p>
						<div id="notiqrmodal" class="modal" style="min-height: 17%;">
							<p>
								Turn on notifications to get alerts.
							</p>
							<div class="switch">
								<label>
									Off
									<input type="checkbox">
									<span class="lever"></span>
									On
								</label>
							</div>
							<div class="modal-footer">
								<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>