<script type="text/ng-template" id="update-family.html">
	<div ng-class="navbarClass"><ng-include src="navbar"></ng-include></div>
	<div class="view" ng-init="loadingDone = true">
		
		<div class="row">
			<h3  class="center-align white-text lighten-2 fonts">  Update Details  </h3>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<div class="center">
							<div class="row thisrow">
								<div class="testcontent">
									<div class="row">
										<div class="input-field col s12">
											<i class="fa fa-user prefix"></i>
											<input id="first-name" ng-model="member.FirstName" type="text" class="validate" placeholder="First Name">
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="fa fa-user prefix"></i>
											<input id="last-name" ng-model="member.LastName" type="text" class="validate" placeholder="Last Name">
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="fa fa-users prefix"></i>
											<input id="relation" ng-model="member.Relation" type="text" class="validate" placeholder="Relation">
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="fa fa-envelope-o prefix"></i>
											<input id="email" type="email" ng-model="member.Email" class="validate" placeholder="Email">
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<i class="fa fa-birthday-cake prefix"></i>
											<input type="text" ng-model="member.Dob" class="datepicker" placeholder="Date of Birth">
										</div>
									</div>
									<DIV class="row">
										<div class="input-field col s12">
											<select class="browser-default" ng-model="member.Gender">
												<option value="" disabled selected>Select Gender</option>
												<option value="Male">Male</option>
												<option value="Female">Female</option>
											</select>
										</div>
									</DIV>
								</div>
							</div>
						</div>
						<div class="side-alignment right-align">
							<a ng-click="updateDetails()" class="waves-effect waves-green btn btn-large orange">
								<div class="loader-container" ng-show="ASyncStarted">
									<div class="loader-inner ball-clip-rotate-multiple"></div>
								</div>
								<div ng-hide="ASyncStarted">Update</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
			selectYears: 15 // Creates a dropdown of 15 years to control year
		});
	</script>
</script>