<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Notifications</h3>
        <ul class="list">
            <li ng-click="openModal(item.Notificationid)" class="item" ng-class="{'notification-unseen': item.viewed == false}" ng-repeat="item in notifications  | orderBy : item.Notificationid">
                {{item.title}}
            </li>
        </ul>
    </ion-content>
</ion-view>
<script id="notification-detail.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header" ng-class="{'navbar-orange': navColor==1, 'navbar-green': navColor==2, 'navbar-yellow': navColor==3, 'navbar-red': navColor==5, 'navbar-purple': navColor==4}">
            <h1 class="title"></h1>
        </ion-header-bar>
        <ion-content class="padding">
            <h4>{{oneNotification.title}}</h4>
            <p>{{oneNotification.Description}}</p>
            <button class="button button-block" ng-class="{'button-orange': navColor==1, 'button-green': navColor==2, 'button-yellow': navColor==3, 'button-red': navColor==5, 'button-purple': navColor==4}" ng-click="closeModal()">Done</button>
        </ion-content>
    </ion-modal-view>
</script>
