<ion-view ng-init="loadingDone = true">
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <div style="margin-top: 20px; width: 90%; margin-left: 5%; margin-right: 5%;">
            <div>
                <img src="main/assets/images/healthpick_logo_1024.png" style="width: 100%;">
            </div>
            <div>
                <h5 class="text-center text-purple" style="line-height: 2.104rem;">
                	SIGN IN WITH YOUR USERNAME AND PASSWORD
                </h5>
            </div>
            <form name="loginForm" novalidate>
                <label class="item item-input roundedcorners" style="margin-top: 20px">
                    <i class="icon ion-person"></i>
                    <input class="whitefield" type="text" placeholder="Username" ng-model="credentials.username" required>
                </label>
                <label class="item item-input roundedcorners">
                    <i class="icon ion-lock-combination"></i>
                    <input class="whitefield" type="password" placeholder="Password" ng-model="credentials.password" required>
                </label>
                <div style="width: 100%; margin-top: 20px">
                    <ion-spinner ng-hide="loadingDone" icon="spiral" style="width: 30px; margin: 0 auto; display: block;"></ion-spinner>
                    <a ng-disabled="loginForm.$invalid" class="button button-block button-red" ng-click="login()">Login</a>
                </div>
            </form>
            <div style="text-align: center">
                <p><a ui-sref="withoutNav.forgot" style="color: #681950;"><u>Forgot login details</u></a></p>
            </div>
        </div>
    </ion-content>
</ion-view>
