<ion-view ng-init="loadingDone = true;">
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Change Password</h3>
        <div class="card">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Old Password</span>
                    <input type="password" placeholder="Type here..." ng-model="data.oldpassword">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="Type here..." id="new" ng-model="data.newpassword">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="Type here..." id="confirm" ng-model="data.confirmpassword">
                </label>
                <div class="item" ng-hide="loadingDone">
                    <ion-spinner icon="spiral" style="width: 30px; margin: 0 auto; display: block;"></ion-spinner>
                </div>
                <div class="item item-divider">
                    <a class="button button-block button-red" ng-click="update()">Change</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
