<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Settings</h3>
        <div class="row" style="margin-top: 30px;">
            <div class="col col-50">
                <a ui-sref="main.personalDetails" class="button button-float">
                    <img src="main/assets/images/Personal-Details.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Personal Details</p>
            </div>
            <div class="col col-50">
                <a ui-sref="main.familyDetails" class="button button-float">
                    <img src="main/assets/images/Family-Details.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Family Details</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col col-50">
                <a ui-sref="main.qr" class="button button-float">
                    <img src="main/assets/images/My-QR-Code.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">My QR Code</p>
            </div>
            <div class="col col-50">
                <a ui-sref="main.changePassword" class="button button-float">
                    <img src="main/assets/images/Change-Password.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Change Password</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col col-50">
                <a ui-sref="main.terms" class="button button-float">
                    <img src="main/assets/images/Terms-and-Conditions.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Terms & Conditions</p>
            </div>
            <div class="col col-50">
                <a class="button button-float" ng-click="openModal()">
                    <img src="main/assets/images/Notification.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Notifications</p>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="toggle-notification.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header" ng-class="{'navbar-orange': navColor==1, 'navbar-green': navColor==2, 'navbar-yellow': navColor==3, 'navbar-red': navColor==5, 'navbar-purple': navColor==4}">
            <h1 class="title"></h1>
        </ion-header-bar>
        <ion-content class="padding">
            <ul class="list">
                <div class="item" ng-hide="loadingDone">
                    <ion-spinner icon="spiral" style="width: 30px; margin: 0 auto; display: block;"></ion-spinner>
                </div>
                <li class="item item-toggle">
                    Notifications
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" value="1" ng-model="stuff.indicator" ng-click="setNotification()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <button class="button button-clear button-block button-primary" ng-click="closeModal()">Done</button>
        </ion-content>
    </ion-modal-view>
</script>
