<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Terms & Conditions</h3>
        <div class="card">
            <div class="item item-text-wrap">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, blanditiis vel doloribus pariatur sunt quod nesciunt iste obcaecati ducimus necessitatibus expedita nostrum, ad quasi aspernatur ipsam similique quo omnis deserunt.
            </div>
        </div>
    </ion-content>
</ion-view>
