<script type="text/ng-template" id="feedback.html">
	<ng-include src="navbar"></ng-include>
	
	<div class="container">
		<div class="row">
			<h4 class="center-align white-text lighten-2 fonts" style="margin-top: 1rem; padding: 0 10px;">
				Feedback for P S B Dental Care Ltd
			</h4>
		</div>
		<div class="row">
			<p style="color: #681950;margin-left: 2%;">
				Please rank the following aspects of the service? (1 Very Poor) – (5 Excellent)
			</p>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p style="margin-top: 10px;">Is the practice clean and comfortable ?</p>
						<form action="#" style="margin-top: 9px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">1</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">2</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">3</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">4</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">5</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Is there sufficient entertainment / literature while you wait ?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">1</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">2</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">3</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">4</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">5</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Are necessary healthcare / sundry items available ?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">1</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">2</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">3</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">4</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">5</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Is your dental team friendly and approachable ?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">1</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">2</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">3</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">4</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">5</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>How much is your level of comfort and trust in your clinician and the practice team ?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">1</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">2</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">3</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">4</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">5</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>What can the practice improve (ideas, suggestions, comments) ?</p>
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Textarea</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Are you happy with the dental products you are using (tooth paste, mouthwash etc.) ?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">Yes</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">No</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Name of Products:</p>
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Textarea</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Reasons for satisfaction or unsatisfaction:</p>
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Textarea</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>How likely is it that you would recommend our practice to a friend or colleague ?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">1</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">2</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">3</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">4</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">5</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>What do you like best about your practice ?</p>
						<div class="input-field col s12">
							<textarea id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Textarea</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>How would you rate your overall experience ?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">1</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">2</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">3</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">4</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">5</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Can we use your feedback as testimonial on the Practice website?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">Yes</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">No</label>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-content">
						<p>Would you like to be informed special offers and exclusive deals from your practice?</p>
						<form action="#" style="margin-top: 5px;">
							<p>
								<input name="group1" type="radio" id="test1" />
								<label for="test1">Yes</label>
								<input name="group1" type="radio" id="test2" />
								<label for="test2">No</label>
							</p>
						</form>
						<div style="padding-bottom: 9%;">                  
							<a onclick="Materialize.toast('Feedback Submitted', 2000)" href="#/settings" class="waves-effect waves-light btn colorofbutton right">Submit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</script>