<script type="text/ng-template" id="find-dentist.html">
	<div class="view">
			
			<ng-include src="navbar"></ng-include>

			<div class="custom-tabs" ng-show="mapView == 1">
				<ul>
					<li class="active">
						<a ng-click="showSearch()">Search</a>
					</li>
					<li>
						<a ng-click="showNearby()">Nearby</a>
					</li>
				</ul>
			</div>

			<div id="nearby-view" ng-show="mapView == 0" style="background-color: #FFF">
				<div class="search-options">
					<a href="" ng-click="showSort = showSort == true ? false : true;">Sort</a>
				</div>
				<div class="sort-options" ng-show="showSort">
					<form action="">
						<div class="row">
							<div class="col m4">
								<h6>By Distance</h6>
								<input ng-model="sortBy" value="+distance" name="sort" type="radio" id="distance-a" />
								<label for="distance-a">Ascending</label>
								<input ng-model="sortBy" value="-distance" name="sort" type="radio" id="distance-d" />
								<label for="distance-d">Descending</label>
							</div>
							<div class="col m4">
								<h6>By Rating</h6>
								<input ng-model="sortBy" value="+rating" name="sort" type="radio" id="rating-a" />
								<label for="rating-a">Ascending</label>
								<input ng-model="sortBy" value="-rating" name="sort" type="radio" id="rating-d" />
								<label for="rating-d">Descending</label>
							</div>
							<div class="col m4">
								<h6>By Treatment Rate</h6>
								<input ng-model="sortBy" value="+treatment" name="sort" type="radio" id="treatment-a" />
								<label for="treatment-a">Ascending</label>
								<input ng-model="sortBy" value="-treatment" name="sort" type="radio" id="treatment-d" />
								<label for="t	reatment-d">Descending</label>
							</div>
						</div>
					</form>
				</div>
				<p>{{countMessage}}</p>
				<ul class="collection">
					<a ng-repeat="clinic in clinics" href="#/dental-services/clinic-detail/{{clinic.practiceId}}">
						<li class="collection-item">
							<img style="width: 100%" src="https://dentalink.co.uk/{{clinic.PracticeImageLoc}}" alt="" />
							<h6>{{clinic.PracticeName}}</h6>
						</li>
					</a>
				</ul>
			</div>

			<div id="search-view" ng-show="mapView == 2">
				<div>
					<input type="search" placeholder="Search" ng-click="advancedSearch = false;" ng-model="value"/>
				</div>
				<div id="search-result" ng-show="gotSearchResult">
					<ul class="collection" ng-repeat="clinic in searchResult">
						<li ng-click="drawSearchMarker(clinic)" class="collection-item">{{clinic.Postcode}} - {{clinic.PracticeName}}</li>
					</ul>
				</div>
				<div id="advance-search-container">
					<div class="search-options">
						<a id="advance-search-trigger" href="" ng-click="advancedSearch = advancedSearch == true ? false : true">Advanced Search</a>
					</div>
					<div ng-show="advancedSearch" id="advance-search-block" align="center">
					    <form action="#">
					        <input name="dentist-gender" type="radio" id="dentist-male" />
					        <label for="dentist-male">Male Dentist</label>
					        <input name="dentist-gender" type="radio" id="dentist-female" />
					        <label style="margin-left: 2rem;" for="dentist-female">Female Dentist</label>
					    </form>
					    <div class="row" style="margin-bottom: 0">
					        <div class="input-field col s12">
					            <select class="browser-default" style="color: #000">
					                <option value="" disabled selected>Choose your Treatment</option>
					                <option value="1">Examination</option>
					                <option value="2">Hygiene</option>
					                <option value="3">Fillings</option>
					                <option value="4">Whitening</option>
					                <option value="5">Implants</option>
					            </select>
					        </div>
					    </div>
					    <a href="" ng-click="advancedSearch = false" class="waves-effect btn-flat" id="advance-cancel">Cancel</a>
					    <a href="" ng-click="advancedSearch = false" class="waves-effect btn-flat" id="advance-search">Search</a>
					</div>
				</div>
			</div>

			<div id="map-view" ng-show="mapView == 1 || mapView == 2">
				<div id="map" ng-class="{smallerMap: mapView == 2}"></div>
				<a href="" class="btn-floating waves-effect waves-light" ng-click="resetPosition()" id="current-location">
					<i class="fa fa-dot-circle-o"></i>
				</a>
			</div>

		</div>
	</div>
</script>