<script type="text/ng-template" id="treatment.html">
	<ng-include src="navbar"></ng-include>
	<div class="row">
		<h3 class="center-align white-text lighten-2 fonts">Treatments</h3>
	</div>
	<div class="container">
		<ul class="collection">
		
			<li class="collection-item " ng-repeat="treatment in treatments">
				<div class="row ">
					<div class="col s8 ">
						<span class="title"><p>{{treatment.TreatmentName}}</p></span>
					</div>
					<div class="col s0 ">
						<img src="images/bar.jpg" alt="" class="circle">
					</div>
		
					<div class="col s3 ">
						<p>
							<span class="center" style="color: #2980B9">
								{{treatment.TreatmentPricePayout | currency:"£":2}}
							</span>
						</p>
					</div>
				</div>
			</li>
		</ul>

	</div>
</script>