<script type="text/ng-template" id="contact.html">
	<div ng-class="navbarClass"><ng-include src="navbar"></ng-include></div>
	<div ng-init="loadingDone = true">
		<div class="card-panel grey lighten-5 z-depth-1">
			<ul  class="collection">
				<li class="collection-item avatar">
					<i class="mdi-communication-location-on circle orange"></i>
					<div class="col s10 left-align">
						<h5 class="black-text " >Address</h5>
						<span class="grey-text">
							139 Harley Street, LONDON, W1G 6BG<br>
		
						</span>
					</div>
		
				</li>
			</ul>
		</div>
		
		<div class="card-panel grey lighten-5 z-depth-1">
			<ul  class="collection">
				<li class="collection-item avatar">
					<i class="mdi-communication-phone circle orange"></i>
					<div class="col s10 left-align">
						<h5 class="black-text " >Phone</h5>
						<span class="grey-text">
							020 7486 1059
						</span>
					</div>
		
				</li>
			</ul>
		</div>
		
		<div class="card-panel grey lighten-5 z-depth-1">
			<ul  class="collection">
				<li class="collection-item avatar">
					<i class="mdi-communication-email circle orange"></i>
					<div class="col s10 left-align">
						<h5 class="black-text" >Email</h5>
						<span class="grey-text">
							aviva@hsdc.com
						</span>
					</div>
				</li>
			</ul>
		
		</div>
		
		<div class="card-panel grey lighten-5 z-depth-1">
			<ul  class="collection">
				<li class="collection-item avatar">
					<i class="mdi-communication-email circle orange"></i>
					<div class="col s10 left-align">
						<h5 class="black-text" >Web</h5>
						<span class="grey-text">
							http://www.harleystreetdentalclinic.co.uk
						</span>
					</div>
				</li>
			</ul>
		
		</div>
	</div>
</script>