<script type="text/ng-template" id="rating.html">
	<div ng-class="navbarClass"><ng-include src="navbar"></ng-include></div>
	<div class="container">

		<a class="orange email-claim btn btn-default" href="#/clinic-detail/rating/rate/{{practiceId}}">
			Give Feedback
		</a>
		<ul class="collection feedback-list">
			<li class="collection-item">
				<h5>awaf al moteb</h5>
				<h2 class="orange-text"><i class="mdi-action-star-rate"></i></h2>
				<p class="grey-text left-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
			</li>
			<li class="collection-item">
				<h5>awaf al moteb</h5>
				<h2 class="orange-text"><i class="mdi-action-star-rate"></i></h2>
				<p class="grey-text left-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			</li>
			<li class="collection-item">
				<h5>awaf al moteb</h5>
				<h2 class="orange-text"><i class="mdi-action-star-rate"></i></h2>
				<p class="grey-text left-align">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
			</li>
		</ul>
	</div>
</script>