{
  "extends": "../.eslintrc",
  "env": {
    "node": false
  },
  "globals": {
    "angular": true,
    "ionic": true,
    "google": true,
    "document": true,
    "$": true,
    "_": true,
    "sweetAlert": true
  },
  "rules": {
  }
}
/*global google:true*/
/*global document:true*/
/*global $:true*/
/*global document:true*/