<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">{{clinic.PracticeName}}</h3>
        <div class="card list">
            <div class="item item-image">
                <div ng-show="clinic.PracticeImageLoc">
                    <img src="{{clinic.PracticeImageLoc}}">
                </div>
                <div ng-hide="clinic.PracticeImageLoc">
                    <img src="main/assets/images/dental-practice-default.jpg">
                </div>
            </div>
            <div class="item item-divider"></div>
            <div class="item">
                <div star-rating rating-value="clinic.feedback" max="5"></div>
            </div>
            <div class="item item-text-wrap">
                Address
                <p>{{address}}</p>
            </div>
            <div class="item item-text-wrap">
                Phone
                <p>{{clinic.Telephone}}</p>
            </div>
            <div class="item item-text-wrap">
                Doctor
                <p>{{doctorFirstName}} {{doctorLastName}}</p>
            </div>
            <div class="item item-text-wrap">
                Distance
                <p>{{clinic.distance}} km</p>
            </div>
            <a class="item item-divider">
                <a ui-sref="main.booking" class="button button-block" ng-class="{'button-orange': navColor==1, 'button-green': navColor==2, 'button-yellow': navColor==3, 'button-red': navColor==5, 'button-purple': navColor==4}">
                	Book Now
                </a>
            </a>
            <div class="item item-divider"></div>
            <a class="item item-icon-right text-red" ui-sref="main.treatments">
            	Treatment Details
            	<i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right text-red" ui-sref="main.staff">
            	Our Staff
            	<i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right text-red" ui-sref="main.timing">
            	Timings
            	<i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right text-red" ui-sref="main.contact">
            	Contact Us
            	<i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right text-red" ui-sref="main.reviews">
            	Reviews & Ratings
            	<i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
