<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Contact Details</h3>
        <div class="card list">
            <div class="item">
                <ul class="list">
                    <li class="item">
                        Address
                        <p>139 Harley Street, London W1G 6BG</p>
                    </li>
                    <li class="item">
                        Phone
                        <p>020 7492 1231</p>
                    </li>
                    <li class="item">
                        Email
                        <p>this@clinic.com</p>
                    </li>
                    <li class="item">
                        Web
                        <p>http://harleystreetshake.com</p>
                    </li>
                </ul>
            </div>
    </ion-content>
</ion-view>
