<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Contact Details</h3>
        <div class="card list">
            <div class="item">
                <ul class="list">
                    <li class="item item-text-wrap">
                        Address
                        <p>{{address}}</p>
                    </li>
                    <li class="item item-text-wrap">
                        Phone
                        <p>{{clinic.Telephone}}</p>
                    </li>
                    <li class="item item-text-wrap">
                        Email
                        <p>{{clinic.email}}</p>
                    </li>
                    <li class="item item-text-wrap">
                        Web
                        <p>{{clinic.website}}</p>
                    </li>
                </ul>
            </div>
    </ion-content>
</ion-view>
