<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Our Staff</h3>
        <div class="card list">
            <div class="item" ng-hide="loadingDone">
                <ion-spinner icon="spiral" style="width: 30px; margin: 0 auto; display: block;"></ion-spinner>
            </div>
            <li class="item item-textwrap" ng-show="message">
                {{message}}
            </li>
            <li class="item item-avatar" ng-repeat="doctor in staff">
                <img ng-src="https://dentalink.co.uk/{{doctor.DentistPhotoLoc}}" alt=""> {{doctor.DentistFirstName}} {{doctor.DentistSurName}}
                <br>Occupation
                <p>{{doctor.DentistJobTitle}}</p>
                GDC Number
                <p>{{doctor.GDCNumber}}</p>
            </li>
        </div>
    </ion-content>
</ion-view>
