<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">{{clinic.PracticeName}}</h3>
        <div class="card list">
            <li class="item item-avatar">
                <img src="main/assets/images/bar.jpg" alt=""> Occupation
                <p>Dentist of the 23rd tooth</p>
                GDC Number
                <p>2342 2342</p>
            </li>
        </div>
    </ion-content>
</ion-view>
