<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Timing</h3>
        <div class="card" style="text-align: center;">
            <div class="row" style="font-weight: bold">
                <div class="col col-33">Day</div>
                <div class="col col-33">Opening</div>
                <div class="col col-33">Closing</div>
            </div>
            <div class="row">
                <div class="col col-33">Monday</div>
                <div class="col col-33">3:00 AM</div>
                <div class="col col-33">3:01 AM</div>
            </div>
            <div class="row">
                <div class="col col-33">Tuesday</div>
                <div class="col col-33">3:00 AM</div>
                <div class="col col-33">3:01 AM</div>
            </div>
        </div>
    </ion-content>
</ion-view>
