<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Treatment Details</h3>
        <div class="card list">
            <li class="item item-avatar">
                <img src="main/assets/images/bar.jpg" alt="">
                <span style="float: left">Treatment</span>
                <span class="text-purple" style="float: right;">$34</span>
            </li>
        </div>
    </ion-content>
</ion-view>
