<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">My Policy</h3>
        <div class="card">
            <div class="item">
                Annual Allowance Renewal
                <p>blah{{policy.allowancedate}}</p>
            </div>
            <div class="item">
                Annual Allowance Limit
                <span class="item-note">{{policy.allowancelimit | currency:"£":2}}</span>
            </div>
            <div class="item">
                Annual Allowance Used
                <span class="item-note">{{policy.allowanceused | currency:"£":2}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
