<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">{{serviceName}} Services</h3>
        <div class="row" style="margin-top: 30px;">
            <div class="col col-50">
                <a ui-sref="main.findPractice" class="button button-float">
                    <img src="main/assets/images/Dental-Services.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Find {{doctor}}</p>
            </div>
            <div class="col col-50">
                <a ui-sref="main.claims" class="button button-float">
                    <img src="main/assets/images/My-Claims.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">My Claims</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col col-50">
                <a ui-sref="main.advice" class="button button-float">
                    <img src="main/assets/images/Get-Dental-Medical-Optical-Advice.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Get {{serviceName}} Advice</p>
            </div>
            <div class="col col-50">
                <a ui-sref="main.support" class="button button-float">
                    <img src="main/assets/images/Help-and-Support.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">Help & Support</p>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col col-50">
                <a ui-sref="main.wellbeing" class="button button-float">
                    <img src="main/assets/images/My-Wellbeing.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">My Wellbeing</p>
            </div>
            <div class="col col-50">
                <a ui-sref="main.policy" class="button button-float">
                    <img src="main/assets/images/My-Policy.png" class="settingpageicons" alt="">
                </a>
                <p class="text-center text-purple button-text">My Policy</p>
            </div>
        </div>
    </ion-content>
</ion-view>
