<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Help & Support</h3>
        <div class="list card">
            <div class="item item-text-wrap">
                <h2>For queries, contact us through the following media.</h2>
            </div>
            <div class="item">
                Phone: {{support.Phone}}
            </div>
            <div class="item">
                Email: {{support.Email}}
            </div>
            <div class="item item-divider">
                <a ui-sref="main.help" class="button button-block" ng-class="{'button-orange': navColor==1, 'button-green': navColor==2, 'button-yellow': navColor==3, 'button-red': navColor==5, 'button-purple': navColor==4}">Raise Support Ticket</a>
            </div>
        </div>
    </ion-content>
</ion-view>
