<ion-view>
    <!-- do you want padding? -->
    <ion-content class="padding">
        <!-- content goes here -->
        <h3 class="text-center text-purple font-century">Help & Support</h3>
        <div class="list card">
            <div class="item item-text-wrap">
                <h2>For queries, contact us through the following media.</h2>
            </div>
            <div class="item">
                Phone: {{phone}}
            </div>
            <div class="item">
                Email: {{email}}
            </div>
            <a class="item item-divider ">
                <a class="button button-block button-orange">Raise Support Ticket</a>
            </a>
        </div>
    </ion-content>
</ion-view>
