<script type="text/ng-template" id="navbar.html">
    <div id="qrmodal" class="modal" ng-controller="qrCtrl" style="z-index: 100">
        <div class="modal-content center">
            <h5>My Unique Policy QR code</h5>
            <img src="{{qr}}" style="width: 90%;" />
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <nav class="navbar-color" role="navigation">
        <div class="nav-wrapper container">
            <div class="col s4">
                <a style="float: left; position: relative; z-index: 1; height: 56px;" ng-click="back()"><i style="font-size: 1.7rem; height: 56px; line-height: 56px;" class="left white-text fa fa-arrow-left"></i></a>
            </div>
            <div class="col s4 right">
                <ul id="dental-nav-mobile" class="side-nav right">
                    <li><a href="#/services">Home</a></li>
                    <li><a data-target="qrmodal" class="modal-trigger" onclick="$('#qrmodal').openModal()">My QR Code</a></li>
                    <li><a href="#/settings">Settings</a></li>
                    <li><a href="#/notifications">Notifications<span class="new badge" ng-show="notificationCount">{{notificationCount}}</span></a></li>
                    <li><a href="#/help">Help</a></li>
                </ul>
                <a data-activates="dental-nav-mobile" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </nav>
    <div class="loader-container" ng-hide="loadingDone">
        <div class="loader-inner ball-clip-rotate-multiple"></div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.button-collapse').sideNav({
            closeOnClick: true
        });
        $('#qrmodal').leanModal();
        $('.button-collapse').sideNav('hide');


        var addDivs = function(n) {
            var arr = [];
            for (i = 1; i <= n; i++) {
                arr.push('<div></div>');
            }
            return arr;
        };

        $('.loader-inner.ball-clip-rotate-multiple').html(addDivs(2));
    });
    </script>
</script>
