/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import url(http://fonts.googleapis.com/css?family=Lobster|Poiret+One);

 .fonts {
  font-family: 'Poiret One', bold, serif;
}
.btn-floating.btn-large i {
  line-height: 70.5px;
  color: orange;
}
.btn-floating.btn-large {
  width: 70.5px;
  height: 70.5px;
}

.white-text {
  color: #fff;
}
.gradient {

  background: -webkit-linear-gradient(90deg, #D1913C 10%, #FFD194 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #D1913C 10%, #FFD194 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #D1913C 10%, #FFD194 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #D1913C 10%, #FFD194 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #D1913C 10%, #FFD194 90%); /* W3C */
}
.listgradient {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;      

  background: -webkit-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #757F9A 10%, #D7DDE8 90%); /* W3C */


  background-repeat: no-repeat;
}
.gradient2 {
  background: #f2f6f8; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 36%, #b5c6d0 100%, #e0eff9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(36%,#d8e1e7), color-stop(100%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 36%,#b5c6d0 100%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2f6f8 0%,#d8e1e7 36%,#b5c6d0 100%,#e0eff9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2f6f8 0%,#d8e1e7 36%,#b5c6d0 100%,#e0eff9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 36%,#b5c6d0 100%,#e0eff9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

#list-images {
  margin-top: 13px;
  width: 70%;
  margin-left: 2px;
}

.colors {
  background-color: #ecf0f1;
}
.colors:hover {
  background-color: orange;
}

#chat-footer {
 background-color: #ffffff;
 /*position: fixed;*/
 bottom: 0;
 position: fixed;
 padding-bottom: 0px;
}
#message {
 margin-left: 0%;
 width: 79%;
}

.bottom {
  /*position: fixed;*/
  bottom: 0;
}

.collection {
  border: none;
}
/*
 .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -moz-user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: all 0.3s ease-out 0s;
    width: 22%;
    }*/

    .icon-block {
      padding: 0 15px;
    }
    .confirm-type {
      font-weight: bold;
    }
    .confirm-table {
      font-size: 14px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      margin-top: 30px;
    }
    .footer-buttons {
      background-color: transparent;
      border: none;
      color:#fff;
      font-size: 15px;
    }
    footer.page-footer {
      position: relative;
      width: 100%;
      bottom: 0px;
      padding-bottom: 8px;
      background-color: #FF9800;
      padding-top: 10px;
    }
    .container {
      padding: 0px 0px;
      margin: 0px auto;
      max-width: 1280px;
      width: 90%;
    }
    .switch label input[type="checkbox"]:checked + .lever {
      background-color:#F9C579;
    }
    .switch label input[type="checkbox"]:checked + .lever::after {
      background-color: #FF9800 !important;
    }
    input[type="password"]:focus:not([readonly]) {
      border-bottom: 1px solid #FF9800;
      box-shadow: 0px 1px 0px 0px #FF9800;
    }
    input[type="password"]:focus:not([readonly]) + label {
      color: #FF9800 !important;
    }
    .collection a.collection-item {
      color: #FF9800;
    }
    [type="checkbox"]:checked + label::before {
      border-color: transparent #FF9800 #FF9800 transparent;
    }
    input[type="text"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid #FF9800;
      box-shadow: 0px 1px 0px 0px #FF9800;
    }
    input[type="text"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
      color: #FF9800;
    }
    [type="radio"]:checked + label::after {
      border: 2px solid #FF9800;
      background-color: #FF9800;
    }
